html {
    max-width: 800px;
    margin: auto;
    font-family: "Hiragino Kaku Gothic", "Hiragino Sans", "Noto Sans JP", "Yu Gothic", "Meiryo", sans-serif;
}

body {
    margin: 0;
}

a,
a:active,
a:visited {
    color: blue;
}

dt {
    font-weight: bold;
}

code,
pre {
    background-color: #e2e2e2;
    padding: 3px;
    border-radius: 2px;
}
